<!--The content below is only a placeholder and can be replaced.-->

<div class="top" style="text-align:middle">


    <div class="row">
 
     
        <div class="col s12"> </div>
      
      </div>


  <div class="row">
 
    <div class="col s6"> 
    <!--<img class="logo" src="../assets/images/logo.jpg" alt="utd"></div>-->
    <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/kiosk-isso.appspot.com/o/logo.jpg?alt=media&token=24293d9c-03fb-4938-b3fa-7e94b909e914" alt="utd"></div>
    <div class="col s6">  <h1> Welcome to the {{ title }}!</h1></div>
  
  </div>

</div>

  <router-outlet></router-outlet>

